<div class="main user-show">
  <div class="container">
    <div class="user">
      <%= image_tag("https://mulunchimage.s3-ap-northeast-1.amazonaws.com/users/#{@user.name}.jpg" )%>
      <h2><%= @user.name %></h2>
      <% if @current_user == User.find_by(name: "admin_mulunch") %>
        <p><%= @user.email %></p>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
        <%= link_to("削除", "/users/#{@user.id}/destroy", {method: :post}) %>
      <% end %>
    </div>
    
    <ul class="user-tabs">
      <li class="active"><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
    </ul>

    <h2 class="users-heading">作成した投稿</h2>
    
    <% @user.post.each do |post| %>
      <div class="posts-index-item">
        <div class="post-user">
          <%= link_to image_tag("https://mulunchimage.s3-ap-northeast-1.amazonaws.com/users/#{post.user.name}.jpg", class:"post-user-image"), "/users/#{post.user.id}" %>
          <%= link_to("#{post.user.name}", "/users/#{post.user.id}", class: "post-user-name") %>
        </div>

        <div class="post-main">
          <div class="post-title">
            <%= link_to(post.title, "/posts/#{post.id}") %>
          </div>
          <% if post.thumbnail1 != nil %>
            <%= link_to image_tag("https://mulunchimage.s3-ap-northeast-1.amazonaws.com/posts/#{post.thumbnail1}", class:"post-index-thumbnail"), "/posts/#{post.id}" %>
          <% end %>
          <div class="post-content">
            <%= link_to(post.content, "/posts/#{post.id}") %>
            <div class="post-tag">
              <% if post.tag == "" %>
                <%= link_to("タグ：未設定", "/posts/#{post.id}") %>
              <% else %>
                <%= link_to("タグ：#{post.tag}", "/posts/tag_#{post.tag}") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>