<div class="main posts-new">
  <div class="container">
    <h1 class="posts-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <p>タイトル</p>
          <textarea name="title"><%= @post.title %></textarea>
          <p>概要</p>
          <textarea name="content"><%= @post.content %></textarea>
          <p>画像1</p>
          <input name="image1" type="file">
          <p>記事1</p>
          <textarea name="article1"><%= @post.article1 %></textarea>
          <p>画像2</p>
          <input name="image2" type="file">
          <p>記事2</p>
          <textarea name="article2"><%= @post.article2 %></textarea>
          <p>画像3</p>
          <input name="image3" type="file">
          <p>記事3</p>
          <textarea name="article3"><%= @post.article3 %></textarea>
          <p>画像4</p>
          <input name="image4" type="file">
          <p>記事4</p>
          <textarea name="article4"><%= @post.article4 %></textarea>
          <p>画像5</p>
          <input name="image5" type="file">
          <p>記事5</p>
          <textarea name="article5"><%= @post.article5 %></textarea>
          <p>記事タグ</p>
          <input type="text" name="tag" list="tag" value="<%= @post.tag %>" autocomplete="off">
          <datalist id="tag">
            <option value="muramusubi">
            <option value="villages">
          </datalist>
          <p>村タグ</p>
          <input type="text" name="village_tag" list="village_tag" value="<%= @post.village_tag %>" autocomplete="off">
          <datalist id="village_tag">
            <option value="ueno">
            <option value="oshika">
            <option value="higashi_naruse">
          </datalist>
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>