<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <%= form_tag("/posts/#{@post.id}/update", {multipart: true}) do %>
      <div class="form">
        <div class="form-body">
          <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <textarea name="title"><%= @post.title %></textarea>
          <textarea name="content"><%= @post.content %></textarea>
          <textarea name="article1"><%= @post.article1 %></textarea>
          <textarea name="article2"><%= @post.article2 %></textarea>
          <textarea name="article3"><%= @post.article3 %></textarea>
          <textarea name="article4"><%= @post.article4 %></textarea>
          <textarea name="article5"><%= @post.article5 %></textarea>
          <textarea name="tag"><%= @post.tag %></textarea>
          <input name="image" type="file">
          <input type="submit" value="保存">
        </div>
      </div>
    <% end %>
  </div>
</div>