<div class="main posts-index">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-user">
          <%= link_to image_tag("/user_images/#{post.user.image_name}", class:"post-user-image"), "/users/#{post.user.id}" %>
          <%= link_to("#{post.user.name}", "/users/#{post.user.id}", class: "post-user-name") %>
        </div>

        <div class="post-main">
          <div class="post-title">
            <%= link_to(post.title, "/posts/#{post.id}") %>
          </div>
          <%= link_to image_tag("/post_thumbnails/#{post.thumbnail1}", class:"post-index-thumbnail"), "/posts/#{post.id}" %>
          <div class="post-content">
            <%= link_to(post.content, "/posts/#{post.id}") %>
            <div class="post-tag">
                <%= link_to("タグ：#{post.tag}", "/posts/tag_#{post.tag}") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>