<div class="main posts-show">

  <div class="container">
    <ul class="post-tabs post-show-tabs">
      <li><%= link_to("投稿一覧", "/posts/index") %></li>
      <li><%= link_to("むらむすび", "/posts/tag_muramusubi") %></li>
      <li><%= link_to("村について", "/posts/tag_villages") %></li>
      <li><%= link_to("上野村", "/posts/tag_ueno") %></li>
      <li><%= link_to("大鹿村", "/posts/tag_oshika") %></li>
      <li><%= link_to("東成瀬村", "/posts/tag_higashi_naruse") %></li>
    </ul>
    
    <div class="hidden" id="js-modalwindow">
      <h3 class="share-heading">SNSで村を応援！</h3>
      <small class="share-description">皆さんの気に入りの村をシェアして、一緒に全国の村を応援してみませんか？</small>
      <%= link_to("http://twitter.com/share?url=#{request.url}&text=#{@post.title}&hashtags=むらんち&via=muramusubi", class: "post-sns-share share-twitter") do %>
        <i class="fa fa-twitter"></i> Twitterでシェア
      <% end %>
      <%= link_to("https://www.facebook.com/share.php?u=#{request.url}", class: "post-sns-share share-facebook") do %>
        <i class="fa fa-facebook"></i> Facebookでシェア
      <% end %>
    </div>  

    <h2 class="posts-heading">投稿詳細</h2>
    <div class="posts-index-item">
      <div class="post-heading">
        <div class="post-user-share">
          <div class="post-user">
            <%= link_to image_tag("/user_images/#{@post.user.image_name}", class:"post-user-image"), "/users/#{@post.user.id}" %>
            <%= link_to("#{@post.user.name}", "/users/#{@post.user.id}", class: "post-user-name") %>
            <small><%= "#{time_ago_in_words(@post.created_at)}前" %></small>
          </div>
          <div class="post-share">
            <a class="share-button" id="js-modalButton">シェアする</a>
          </div>
       </div>
        <div class="post-menus">
          <% if @current_user == User.find_by(name: "admin_mulunch") %>
            <%= link_to("編集", "/posts/#{@post.id}/edit") %>
            <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
          <% end %>
        </div>
      </div>
      
      <p class="post-title">
        <a><%= @post.title %></a>
      </p>
      <p class="posts-show-content">
        <%= safe_join(@post.content.split("\n"),tag(:br)) %>
      </p>
      
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail1 != nil %>
          <img alt="サムネイル1" src="<%= "https://mulunchimage.s3-ap-northeast-1.amazonaws.com/posts/#{@post.thumbnail1}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
          <%= safe_join(@post.article1.split("\n"),tag(:br)) %>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail2 != nil %>
          <img alt="サムネイル2" src="<%= "https://mulunchimage.s3-ap-northeast-1.amazonaws.com/posts/#{@post.thumbnail2}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <%= safe_join(@post.article2.split("\n"),tag(:br)) %>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail3 != nil %>
          <img alt="サムネイル3" src="<%= "https://mulunchimage.s3-ap-northeast-1.amazonaws.com/posts/#{@post.thumbnail3}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <%= safe_join(@post.article3.split("\n"),tag(:br)) %>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail4 != nil %>
          <img alt="サムネイル4" src="<%= "https://mulunchimage.s3-ap-northeast-1.amazonaws.com/posts/#{@post.thumbnail4}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <%= safe_join(@post.article4.split("\n"),tag(:br)) %>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail5 != nil %>
          <img alt="サムネイル5" src="<%= "https://mulunchimage.s3-ap-northeast-1.amazonaws.com/posts/#{@post.thumbnail5}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <%= safe_join(@post.article5.split("\n"),tag(:br)) %>
      </div>

      <div class="post-tags-flex">
        <div class="post-tag">
          <% if @post.tag == "" %>
            <%= link_to("タグ：未設定", "/posts/#{@post.id}") %>
          <% else %>
            <%= link_to("タグ：#{@post.tag}", "/posts/tag_#{@post.tag}") %>
          <% end %>
        </div>
        <div class="village-tag post-tag">
          <% if @post.village_tag == "" %>
            <%= link_to("村：未設定", "/posts/#{@post.id}") %>
          <% else %>
            <%= link_to("村：#{@post.village_tag}", "/posts/tag_#{@post.village_tag}") %>
          <% end %>
        </div>
      </div>

      <% if Like.find_by(user_id: @current_user.id, post_id: @post.id) %>
        <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
        <% end %>
      <% else %>
        <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do %>
          <span class="fa fa-heart like-btn"></span>
        <% end %>
      <% end %>
      <%= @likes_count %>
    </div>
  </div>

  <aside>
    <h3 class="post-aside-heading">過去の投稿</h3>
    <% @old_posts.each do |old_post| %>
      <div class="posts-index-aside">
        <div class="post-aside-main">
          <div class="post-aside-title">
            <%= link_to(old_post.title, "/posts/#{old_post.id}") %>
          </div>
          <% if old_post.thumbnail1 != nil %>
            <%= link_to image_tag("https://mulunchimage.s3-ap-northeast-1.amazonaws.com/posts/#{old_post.thumbnail1}", class:"post-aside-thumbnail"), "/posts/#{old_post.id}" %>
          <% end %>
          <div class="post-tag post-aside-tag">
            <% if old_post.tag == "" %>
              <%= link_to("タグ：未設定", "/posts/#{old_post.id}") %>
            <% else %>
              <%= link_to("タグ：#{old_post.tag}", "/posts/tag_#{old_post.tag}") %>
            <% end %>
          </div>
          <div class="village-tag post-tag post-aside-tag">
            <% if old_post.village_tag == "" %>
              <%= link_to("村：未設定", "/posts/#{old_post.id}") %>
            <% else %>
              <%= link_to("村：#{old_post.village_tag}", "/posts/tag_#{old_post.village_tag}") %>
            <% end %>
          </div>
          <div class="post-time-aside">
            <%= link_to("#{old_post.user.name}", "/users/#{old_post.user.id}", class: "post-user-name") %>
            <small><%= "#{time_ago_in_words(old_post.created_at)}前" %></small>
          </div>

          <% if Like.find_by(user_id: @current_user.id, post_id: old_post.id) %>
            <%= link_to("/likes/#{old_post.id}/destroy", {method: "post"}) do %>
              <span class="fa fa-heart like-btn-unlike"></span>
            <% end %>
          <% else %>
            <%= link_to("/likes/#{old_post.id}/create", {method: "post"}) do %>
              <span class="fa fa-heart like-btn"></span>
            <% end %>
          <% end %>
          <% @likes_count = Like.where(post_id: old_post.id).count %>
          <%= @likes_count %>
        </div>
      </div>
    <% end %>
  </aside>
</div>

<script>
  let modalButton = document.getElementById('js-modalButton');
  let body = document.getElementById('js-body');
  let modalWindow = document.getElementById('js-modalwindow');
  let modal = document.createElement('div');

  function createModal() {
    body.appendChild(modal);
    modal.classList.add('modal');
    modalWindow.classList.remove('hidden');
    console.log('モーダルを作成しました');

  }
  function deleteModal() {
    modal.classList.remove('modal');
    modalWindow.classList.add('hidden');
    console.log('モーダルを削除しました');
  }

  modalButton.addEventListener('click', createModal);
  modal.addEventListener('click', deleteModal);
</script>
