<div class="main posts-show">

  <div class="container">
    <div class="tag-navigation">
      <ul class="tag-navigation-flex">
        <li><%= link_to("投稿一覧へ", "/posts/index") %></li>
        <li><%= link_to("むらむすび", "/posts/tag_muramusubi") %></li>
        <li><%= link_to("全国の村について", "/posts/tag_villages") %></li>
      </ul>
    </div>
    <div class="posts-index-item">
      <div class="post-heading">
        <div class="post-user">
          <%= link_to image_tag("/user_images/#{@post.user.image_name}", class:"post-user-image"), "/users/#{@post.user.id}" %>
          <%= link_to("#{@post.user.name}", "/users/#{@post.user.id}", class: "post-user-name") %>
        </div>
        <div class="post-menus">
          <%= link_to("編集", "/posts/#{@post.id}/edit") %>
          <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
        </div>
      </div>
      
      <p class="posts-show-title">
        <%= @post.title %>
      </p>
      <p class="posts-show-content">
        <%= @post.content %>
      </p>
      
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail1 != nil %>
          <img src="<%= "/post_thumbnails/#{@post.thumbnail1}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
          <p class="post-article"><%= @post.article1 %></p>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail2 != nil %>
          <img src="<%= "/post_thumbnails/#{@post.thumbnail2}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <p class="post-article"><%= @post.article2 %></p>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail3 != nil %>
          <img src="<%= "/post_thumbnails/#{@post.thumbnail3}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <p class="post-article"><%= @post.article3 %></p>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail4 != nil %>
          <img src="<%= "/post_thumbnails/#{@post.thumbnail4}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <p class="post-article"><%= @post.article4 %></p>
      </div>
      <div class="posts-show-thumbnail">
        <% if @post.thumbnail5 != nil %>
          <img src="<%= "/post_thumbnails/#{@post.thumbnail5}" %>">
        <% end %>
      </div>
      <div class="posts-show-article">
        <p class="post-article"><%= @post.article5 %></p>
      </div>


      <p class="post-tag">
        <% if @post.tag == "" %>
          <%= link_to("タグ：未設定", "/posts/#{@post.id}") %>
        <% else %>
          <%= link_to("タグ：#{@post.tag}", "/posts/tag_#{@post.tag}") %>
        <% end %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

    </div>
  </div>
</div>