<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <div class="post-user-name">

      </div>
      <p class="posts-show-title">
        <%= @post.title %>
      </p>
      <p class="posts-show-thumbnail">
        <img src="<%= "/post_thumbnails/#{@post.thumbnail}" %>">
      </p>
      <p class="posts-show-content">
        <%= @post.content %>
      </p>
      <p class="posts-show-article">
        <%= @post.article %>
      </p>
      <div class="post-time">
        <%= @post.created_at %>
      </div>

      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <%= link_to("削除", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
  </div>
</div>