<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>むらんち</title>
    <meta content="食や地方について楽しく学べるコミュニティ、むらんちです。みんなで楽しみながら、村の役に立てるような団体を目指しています。">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://tshirt519.github.io/mulunch/stylesheet/stylesheet.css"/>
    <link rel="stylesheet" href="https://tshirt519.github.io/mulunch/stylesheet/responsive.css">
    <script src="https://kit.fontawesome.com/e7ff59a212.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="container header-flex">
          <a href="/" class="header-logo">
            <img src=https://tshirt519.github.io/mulunch/img/mulunchlogo2.png alt="ヘッダーのロゴ">
          </a>
          <a href="/#concept" class="responsive-hidden">コンセプト</a>
          <a href="/#activity" class="responsive-hidden"><p><span class="mulunch-font">むらんち</span></p><p>の活動</p></a>
          <a href="/#topics" class="responsive-hidden">トピックス</a>
          <a href="/#village" class="responsive-hidden"><p><span class="mulunch-font">むらんち</span>の</p><p>VILLAGE</p></a>
          <a href="/#lunch" class="responsive-hidden"><p><span class="mulunch-font">むらんち</span>の</p><p>LUNCH</p></a>
          <a href="/#gallery" class="responsive-hidden"><p>フォト</p><p>ギャラリー</p></a>
          <a href="/posts/index" class="header-btn">ブログ</a>
          <a href="/#join" class="header-btn">JOIN</a>
          <a class="bar-btn"><i class="fas fa-bars" id="open"></i></a>
      </nav>

      <div class="overlay">
        <i class="far fa-window-close bar-btn-close" id="close"></i>
        <nav>
          <ul>
            <li><a href="/#concept">コンセプト</a></li>
            <li><a href="/#activity">むらんちの活動</a></li>
            <li><a href="/#topics">トピックス</a></li>
            <li><a href="/#village">むらんちのVILLAGE
            </a></li>
            <li><a href="/#lunch">むらんちのLUNCH</a></li>
            <li><a href="/#gallery">フォトギャラリー</a></li>
            <li><a href="/posts/index">ブログ</a></li>
            <li><a href="/#join">JOIN</a></li>
          </ul>
        </nav>
      </div>

      <div class="header-flex-end">
        <a href="https://twitter.com/muramusubi/" class="sns-btn"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/muramusubi/" class="sns-btn"><i class="fa fa-instagram"></i></a>
        <a href="https://www.facebook.com/muramusubi/" class="sns-btn"><i class="fa fa-facebook"></i></a>
      </div>
      <a href="https://tshirt519.github.io/mulunch/#join" class="bottom-join-btn">JOIN （ 参加してみよう！）</a>
    </header>
    
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="flash-alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
    
    <%= yield %>

    <footer>
      <div class="container footer-flex">
        <div class="footer-left">
          <a href="/">
            <img src="https://tshirt519.github.io/mulunch/img/footer-logo.png" alt="フッターのロゴ" class="footer-logo">
          </a>
        </div>
        <div class="footer-center">
          <a href="https://twitter.com/muramusubi/" class="sns-btn"><i class="fa fa-twitter"></i></a>
          <a href="https://www.instagram.com/muramusubi/" class="sns-btn"><i class="fa fa-instagram"></i></a>
          <a href="https://www.facebook.com/muramusubi/" class="sns-btn"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="footer-right">
          <h3><span class="mulunch-font">むらんち</span></h3>
          <p>〒162-0825 東京都新宿区神楽坂6丁目19</p>
          <p>TEL 03-6457-5597</p>
          <p>11:30-14:30 (LO 14:00) 土日祝日 営業</p>
          <small>©︎ Muramusubi</small>
          <div class="footer-login">
            <% if @current_user != User.find_by(name: "guest_mulunch") %>
              <%= link_to("ユーザー名：#{@current_user.name}", "/users/#{@current_user.id}") %>
              <%= link_to("ログアウト", "/logout", method: :post) %>
              <%= link_to("新規投稿", "/posts/new") %>
            <% else %>
              <%= link_to("ユーザー名：#{@current_user.name}", "/users/#{@current_user.id}") %>
              <%= link_to("管理者ログイン", "/login",) %>
            <% end %>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://tshirt519.github.io/mulunch/js/menu.js"></script>
  </body>
</html>